body {
  display: flex;
  flex-direction: column;
  min-width: 375px;
  align-items: center;

}
header {
    flex: 0 80px;
    color: rgb(26, 19, 19);
    align-items: cener;
  
}


main {
  flex: 1 calc(100vh - 110px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background: white;
}

footer {
  flex: 0 30px;
}


