@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mynerve&display=swap');


body {
  display: flex;
  flex-direction: column;
  min-width: 375px;
  align-items: center;

}
header {
    flex: 0 80px;
    color: #58b28c;
    align-items: center;
    
  
}
h1 {
    font-family: 'Raleway';
}
h2 {
    font-family: 'Dancing Script';
    vertical-align: top;
    
}


main {
  flex: 1 calc(90vh - 110px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  background: white;
  box-shadow: 10px 10px rgb(170, 125, 125);
  font-family: 'Mynerve';
}

#box {
    width: auto;

    border: 1px solid white;
    border-bottom-color: #58b28c;

}

footer {
  width: 100%;
  text-align: left;
  margin-top: 5%;
  color: rgb(246, 181, 192);
  flex: 0 30px;
  
}



